/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:'Poppins',sans-serif;
}

/* =========================
   BACKGROUND
========================= */

body{

background:linear-gradient(
180deg,
#030311,
#12072e,
#04061d
);

color:white;

}

/* Moving Stars */

#stars{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background-image:
radial-gradient(white 1px,transparent 1px);

background-size:70px 70px;

opacity:.5;

animation:starsMove 80s linear infinite;

}

@keyframes starsMove{

0%{
transform:translateY(0);
}

100%{
transform:translateY(-600px);
}

}

/* Twinkling */

#twinkling{

position:fixed;

width:100%;
height:100%;

background-image:
radial-gradient(#ffffff 1px,transparent 1px);

background-size:120px 120px;

opacity:.2;

animation:twinkle 3s ease-in-out infinite alternate;

}

@keyframes twinkle{

from{

opacity:.1;

}

to{

opacity:.45;

}

}

/* Purple Glow */

#glow{

position:fixed;

width:1200px;
height:1200px;

border-radius:50%;

background:

radial-gradient(circle,
rgba(175,70,255,.35),
transparent 70%);

top:-300px;
left:-250px;

filter:blur(90px);

animation:glowMove 15s ease-in-out infinite alternate;

}

@keyframes glowMove{

from{

transform:translateX(0);

}

to{

transform:translateX(350px);

}

}

/* =========================
   INTRO
========================= */

#intro{

width:100%;
height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

}

.content{

max-width:850px;

animation:fadeUp 2s;

}

.small-title{

font-size:22px;

letter-spacing:5px;

color:#ffd9ff;

margin-bottom:30px;

}

.main-title{

font-family:'Cinzel',serif;

font-size:72px;

line-height:1.2;

margin-bottom:15px;

text-shadow:

0 0 20px #ff5ef1,

0 0 40px #8d5bff;

}

.name{

font-size:48px;

margin-bottom:25px;

color:#ffd8ff;

}

.subtitle{

font-size:22px;

line-height:1.9;

opacity:.9;

margin-bottom:45px;

}

/* =========================
   BUTTON
========================= */

#startBtn{

padding:18px 50px;

border:none;

border-radius:50px;

font-size:20px;

cursor:pointer;

color:white;

background:linear-gradient(
90deg,
#ff5ec7,
#8f5bff
);

box-shadow:

0 0 25px rgba(255,90,220,.6);

transition:.4s;

}

#startBtn:hover{

transform:scale(1.08);

box-shadow:

0 0 45px rgba(255,90,220,1);

}

/* =========================
   ANIMATION
========================= */

@keyframes fadeUp{

0%{

opacity:0;

transform:translateY(80px);

}

100%{

opacity:1;

transform:translateY(0);

}

}

/* =========================
   MOBILE
========================= */

@media(max-width:768px){

.main-title{

font-size:42px;

}

.name{

font-size:30px;

}

.subtitle{

font-size:18px;

}

#startBtn{

width:90%;

}

}
